.body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.title-content {
    font-size: 20px !important;
}

.body-content-text {
    padding-top: 10px;
    padding-bottom: 10px !important;
}

.body-image {
    width: 325px;
    height: 212px;
    background-color: #020085;
    line-height: 212px;
    display: flex;
	justify-content: center;
}

.body-content {
    display: flex;
    flex-direction: column;
}