.footer {
    margin-top: 10px;
    background-color:#454545;
    height: 175px;
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer-rodape {
    margin-top: 5%;
    align-content: center;
    
}