* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

.center {
	display: flex;
    justify-content: center;
}

.container {
    width: 894px;
}

.text {
    padding: 5px;
    color: #858585;
    font-size: 13px;
}

.color-image {
    color: #FFF;
	font-weight: bold;
	font-size: 25px;
}

@media (max-width: 895px) {
	
	.container {
		width: 700px;
	}

	.slide_color,
	.nivoSlider {
		height: 278px !important;
	}


	.image-box {
		max-width: 196px;
		margin: 10px;
	}
	.boxes-destaque {
		justify-content: space-around !important;
	}

	.destaque-text {
		padding-left: 15px;
	}
}

@media (max-width: 710px) {

	.container {
		width: 600px;
	}

	.slide_color,
	.nivoSlider {
		height: 238px !important;
	}

	.image-box {
		max-width: 196px;
		margin: 10px;
	}

	.boxes-destaque {
		justify-content: space-around !important;
	}

	.body {
		flex-wrap: wrap;
		justify-content: center !important;
	}

	.body-image {
		margin-top: 10px;
	}

	.header {
		flex-wrap: wrap;
		justify-content: center !important;
		
	}

	header {
		height: 130px !important;
	}

	.menu1 ul li a {
		font-size: 13px !important;
	}

	.destaque-text {
		padding-left: 15px;
	}

	.destaque-title {
		margin-top: 10px;
		text-align: center;
	}
}

@media (max-width: 610px) {

	.container {
		width: 400px;
	}

	.slide_color,
	.nivoSlider {
		height: 159px !important;
	}

	.image-box {
		max-width: 196px;
		margin: 10px;
	}

	.boxes-destaque {
		justify-content: space-around !important;
	}

	.body {
		flex-wrap: wrap;
		justify-content: center !important;
	}

	.body-image {
		margin-top: 10px;
	}

	.header {
		flex-wrap: wrap;
		justify-content: center !important;
		
	}

	header {
		height: 130px !important;
	}

	.menu1 ul li a {
		font-size: 13px !important;
	}

	.destaque-text {
		padding-left: 15px;
	}

	.destaque-title {
		margin-top: 10px;
		text-align: center;
	}
}

@media (max-width: 410px) {

	.container {
		width: 320px;
	}

	.slide_color,
	.nivoSlider {
		height: 127px !important;
	}

	.image-box {
		max-width: 196px;
		margin: 10px;
	}

	.boxes-destaque {
		justify-content: space-around !important;
	}

	.body {
		flex-wrap: wrap;

	}

	.body-image {
		margin-top: 10px;
	}

	.header {
		flex-wrap: wrap;
		justify-content: center !important;
		
	}

	header {
		height: 130px !important;
	}

	.menu1 ul li a {
		font-size: 13px !important;
	}

	.destaque-text {
		padding-left: 15px;
	}

	.destaque-title {
		margin-top: 10px;
		text-align: center;
	}
}
