* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

header {
	height: 120px;
}

.center {
	display: flex;
    justify-content: center;
}

.container {
    width: 990px;
}

.topo_color {
	background-color: #020085;
	height: 26px;
	width: 100%;
}

.phone {
	display: flex;		
	height: 26px;
	line-height: 26px;
	display: flex;
	flex-direction: row-reverse;
	padding-right: 10px;
}

.phone span {
	padding-left: 20px;
}

.numbers {
	color: #FFF;
	font-weight: bold;
}

.logo img{
	height: 120px;
}

.menu {
	display: flex;
	align-items: center;
}