* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
}

.center {
	display: flex;
    justify-content: center;
}

.container {
    width: 894px;
}

.text {
    padding: 5px;
    color: #858585;
    font-size: 13px;
}

.color-image {
    color: #FFF;
	font-weight: bold;
	font-size: 25px;
}
